<style>
  
.DeleteButton {
    position: absolute;
    bottom: 5px;
    right: 5px;
}
</style>

<h1>Editing project</h1>

<%= render "form", project: @project %>

<br>

<div>
  <%= link_to "Cancel", @project %> |
</div>

<div class="DeleteButton">
  <%= button_to "Delete", @project, method: :delete %>
</div>
