<!DOCTYPE html>
<html lang="en">
<style>
nav {
    height: 50px;
    background-color: black;
    color: white;
}
nav a {
    color: white;
    font-size: 30px;
}
.ProjectBox {
  position: relative;
  border: 1px solid blue;
  border-radius: 5px;
  height: 100px;
}
.dropdown {
  display: inline-block;
  position: relative;
  float: right;
}
.dropdown-content {
  display: none;
  position: absolute;
  width: 100%;
  background-color: white;
  overflow: auto;
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content a {
    font-size: 15px;
  display: block;
  color: #000000;
  padding: 5px;
  text-decoration: none;
}
.dropdown-content a:hover {
  color: #FFFFFF;
  background-color: #00A4BD;
}
</style>
  
<nav>
  <a href="/projects">Home</a>
  <div class="dropdown">
  <button>Account</button>
  <div class="dropdown-content">
      <a href="/dummyval">Sign In</a>
      <a href="/notyetimplimented">Sign Up</a>
  </div>
  </div>
</nav>
  
<body>

<%= link_to "New project", new_project_path %>

<div id="projects">
  <% @projects.each do |project| %>
    <div class="ProjectBox">
      <h3><a href="<%= project_path(project) %>"><%= project.title %></a></h3>
    <p>
        <%= project.description %>
    </p>
    
    </div>
  <% end %>
</div>

</body>
</html>
